body{
    background-color: gray;
}

#cabecera{
        display: -webkit-flex;
        display: flex;
}

nav{
    background-color: rgb(52, 224, 230);
}

categorias {
    display: -webkit-flex;
    display: flex;
  }